<h1 class="text-center">
    <span>Wines</span>
    <select class="form-control d-inline" style="width: auto" id="categorySelect" name="category" [(ngModel)]="category" (change)="getWines()">
        <option value="">Select a Category</option>
        <option *ngFor="let c of cs.categories" [value]="c.id" [innerText]="c.name"></option>
    </select>
</h1>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Year</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions
                        <a href="#0" psLink="wine" [params]="{ 'type': 'add', 'category': category }" title="add new category">+ add</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wine of wines; let i = index">
                    <th scope="row" [innerText]="i + 1"></th>
                    <td [innerText]="wine.name"></td>
                    <td [innerText]="wine.price| currency"></td>
                    <td [innerText]="wine.year"></td>
                    <td [innerText]="wine.price"></td>
                    <td>
                        <a href="#0" psLink="wine" [params]="{ 'type': 'edit', 'category': wine.categoryID, 'wine': wine }">Edit</a> |
                        <a href="#0" (click)="deleteWine(wine, $event)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal app-popup" [states]="states"></div>