<form class="px-4 py-3" #form="ngForm" (submit)="signUp()">
    <div class="form-group">
        <label for="email2">Email address</label>
        <input type="email" class="form-control" id="email2" [(ngModel)]="email" name="email" placeholder="email@example.com" required>
    </div>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" [(ngModel)]="firstName" name="first" placeholder="Enter First Name" required>
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" [(ngModel)]="lastName" name="lastName" placeholder="Enter Last Name" required>
    </div>
    <div class="form-group">
        <label for="password2">Password</label>
        <input type="password" class="form-control" id="password2" [(ngModel)]="password" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Sign in</button>
</form>