<div class="card mt-4">
    <div class="card-body">
        <img class="float-left" src="assets/img/distilled-wine.png" alt="">
        <h3 class="card-title" [innerText]="wine.name"></h3>
        <h4>
            <span [innerText]="wine.price | currency"></span> 
            <button class="btn btn-sm btn-default">Add to cart
                <span class="glyph-icon glyph-icon-cart"></span>
            </button>
        </h4>
        <span class="card-text d-block" [innerText]="wine.description"></span>
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        4.0 stars
        <span [innerText]="wine.year" class="d-block"></span> 
    </div>
</div>
<!-- /.card -->

<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Product Reviews
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
            neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum.</p>
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <a href="#" class="btn btn-success">Leave a Review</a>
    </div>
</div>
<!-- /.card -->
