<div class="row">

        <div class="col-lg-3">
    
            <h1 class="my-4">Winery</h1>
            <div class="list-group">
                <a href="#" class="list-group-item" 
                    [class.active]="!current.id" (click)="goto($event, 'all')">All Categories</a>
                <a *ngFor="let category of cs.categories" href="#" class="list-group-item" 
                [class.active]="current.id === category.id" [innerText]="category.name" (click)="goto($event, category.id)"></a> 
            </div>
    
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9  py-5">
            <router-outlet></router-outlet>
        </div>
</div>
<!-- /.row -->