<ul class="list-group">
    <li class="list-group-item">
        <h6 class="mb-1">List group item heading</h6>
        <div class="row">
            <div class="col-md-6">
                <small>$12.50</small>
            </div>

            <div class="col-md-6">
                <small>qty:
                    <input style="width: 50px; display: inline-block" type="number" min="1" value="1" />
                </small>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <h6 class="mb-1">List group item heading</h6>
        <div class="row">
            <div class="col-md-6">
                <small>$12.50</small>
            </div>

            <div class="col-md-6">
                <small>qty:
                    <input style="width: 50px; display: inline-block" type="number" min="1" value="1" />
                </small>
            </div>
        </div>
    </li>
    <li class="list-group-item bg-light p-2">
        <a class="d-inline-block" href="#0">Checkout</a>
        <span class="float-right">Total: $34.55</span>
    </li>
</ul>